@import "./variables.scss";
@import "./mixin.scss";
.header {
    position: fixed;
    top: 0;
    z-index: 1030;
    width: 100%;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    .logo {
        h1 {
            a {
                font-size: 3.6rem;
                color: white;
                font-family: "Montserrat", sans-serif;
                font-weight: 500;
            }
        }
        &:hover {
            opacity: 0.8;
        }
    }
    .header__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .entry {
            width: 120px;
            padding: 9px 0;
            margin-right: 30px;
            background-color: $blue;
            border: 1px solid $blue;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            a {
                font-size: 1.6rem;
                color: white;
                font-family: "Roboto Condensed", sans-serif;
            }
            &:hover {
                background-color: white;
                a {
                    color: $blue;
                }
            }
        }
        .menu__button {
            cursor: pointer;
            position: relative;
            width: 40px;
            height: 40px;
            z-index: 9999;
            span {
                position: absolute;
                width: 100%;
                height: 4px;
                top: 46%;
                background-color: $blue;
                transition: all 0.5s ease;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -ms-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
            }
            span:first-of-type {
                transform: translateY(-17px);
                -webkit-transform: translateY(-17px);
                -moz-transform: translateY(-17px);
                -ms-transform: translateY(-17px);
                -o-transform: translateY(-17px);
            }
            span:last-of-type {
                transform: translateY(17px);
                -webkit-transform: translateY(17px);
                -moz-transform: translateY(17px);
                -ms-transform: translateY(17px);
                -o-transform: translateY(17px);
            }
        }
        .menu__button.active {
            span {
                transform: translateY(0) rotate(45deg);
                -webkit-transform: translateY(0) rotate(45deg);
                -moz-transform: translateY(0) rotate(45deg);
                -ms-transform: translateY(0) rotate(45deg);
                -o-transform: translateY(0) rotate(45deg);
                background-color: white;
            }
            span:first-of-type {
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
            }
            span:last-of-type {
                transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
                -moz-transform: rotate(135deg);
                -ms-transform: rotate(135deg);
                -o-transform: rotate(135deg);
            }
        }
    }
    .header-drawer {
        overflow: hidden;
        position: absolute;
        z-index: 1299;
        width: 100%;
        top: 0;
        left: 0;
        background-color: $dark-blue;
        height: 0;
        transition: height 0.5s ease;
        -webkit-transition: height 0.5s ease;
        -moz-transition: height 0.5s ease;
        -ms-transition: height 0.5s ease;
        -o-transition: height 0.5s ease;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .recruit {
            max-width: 1120px;
            width: 100%;
            margin: auto;
            .recruit-content {
                .recruit-block {
                    &:before {
                        background-color: $dark-blue;
                    }
                }
            }
        }
    }
    .header-drawer.expand {
        height: 100vh;
    }
}
.header.stick {
    padding: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 4px;
    .logo {
        h1 {
            a {
                color: $blue;
            }
        }
    }
}
.slice-top {
    width: 100%;
    .slice__content {
        width: 100%;
        .slice__details {
            position: relative;
            img {
                width: 100%;
            }
            .title {
                width: 100%;
                position: absolute;
                letter-spacing: 23px;
                top: 35%;
                left: 50%;
                text-align: center;
                color: white;
                z-index: 2;
                font-size: 8rem;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                font-family: "A1 Mincho Std";
            }
        }
    }
}
.technical {
    width: 100%;
    position: relative;
    min-height: 200px;
    .technical__content {
        max-width: 1120px;
        width: 100%;
        position: absolute;
        top: -68%;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        max-height: 355px;
        z-index: 100;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        h2 {
            text-align: center;
            font-size: 6.4rem;
            font-family: "Crimson Text", serif;
            font-weight: normal;
            margin-top: 5.3%;
            color: $blue;
            span {
                font-size: 2rem;
                display: block;
                color: $grey;
                margin-top: 1%;
                font-family: "游ゴシック", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku 　Gothic Pro",
                    "メイリオ", "ＭＳ ゴシック", sans-serif;
            }
        }
        .text {
            margin-top: 3%;
            padding: 0 20px;
            p {
                font-size: 2rem;
                text-align: center;
                font-weight: bold;
                color: $black;
            }
        }
    }
}
.project-file {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .project-content {
        position: relative;
        width: 20%;
        .layer {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
            background-color: $blue-layer;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s;
        }
        img {
            width: 100%;
            height: 100%;
            transition: all 1s;
            -webkit-transition: all 1s;
            -moz-transition: all 1s;
            -ms-transition: all 1s;
            -o-transition: all 1s;
        }
        .project-text {
            position: absolute;
            text-align: center;
            z-index: 2;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            color: white;
            font-family: "Crimson Text", serif;
            span {
                font-size: 1.8rem;
                letter-spacing: 2px;
            }
            .number {
                font-size: 6.4rem;
                &:after {
                    content: "";
                    display: block;
                    width: 16px;
                    height: 2px;
                    background-color: white;
                    margin: 0 auto;
                }
            }
            h3.title {
                margin-top: 5%;
                font-size: 24px;
                font-weight: normal;
                font-family: "游ゴシック", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku 　Gothic Pro",
                    "メイリオ", "ＭＳ ゴシック", sans-serif;
            }
        }
        &:hover {
            .layer {
                height: 0;
            }
            .project-text {
                color: $blue;
            }
            img {
                opacity: 0.8;
            }
        }
    }
}
.years {
    width: 100%;
    .years-content {
        cursor: pointer;
        width: 100%;
        margin: 9% 0;
        position: relative;
        transition: all 0.5s;

        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        .title {
            position: absolute;
            top: 26%;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            color: white;
            text-align: center;
            h4 {
                font-size: 4.5rem;
                font-family: "A1 Mincho Std";
                font-weight: normal;
            }
            p {
                margin-top: 10%;
                font-size: 2rem;
                letter-spacing: 2px;
                font-family: "Crimson Text", serif;
            }
        }
        img {
            width: 100%;
        }
        span.more {
            overflow: hidden;
            position: absolute;
            bottom: 20px;
            right: 30px;
            font-size: 1.6rem;
            color: white;
            &:before {
                content: "";
                width: 16px;
                height: 2px;
                background-color: white;
                display: block;
                margin-bottom: 15px;
                transition: all 0.5s;
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                -ms-transition: all 0.5s;
                -o-transition: all 0.5s;
            }
            &:after {
                transform: rotate(135deg);
                position: absolute;
                right: -3px;
                top: 5px;
                content: "";
                width: 0px;
                height: 2px;
                display: block;
                background-color: white;
                -webkit-transform: rotate(135deg);
                -moz-transform: rotate(135deg);
                -ms-transform: rotate(135deg);
                -o-transform: rotate(135deg);
                transition: all 0.5s;
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                -ms-transition: all 0.5s;
                -o-transition: all 0.5s;
            }
        }
        // &:before {
        //     position: absolute;
        //     top: 0;
        //     width: 0;
        //     height: 100%;
        //     background-color: rgba(0, 58, 121, 0.842);
        //     content: "";
        //     transition: all 0.5s;
        //     -webkit-transition: all 0.5s;
        //     -moz-transition: all 0.5s;
        //     -ms-transition: all 0.5s;
        //     -o-transition: all 0.5s;
        // }
        &:hover {
            opacity: 0.8;
            &:before {
                width: 100%;
            }
            span.more {
                &:before {
                    width: 100%;
                }
                &:after {
                    width: 17px;
                }
            }
        }
    }
}
.story,
.workstyle {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    .layer {
        height: 5px;
    }
    .bg-grey {
        width: 100%;
        min-height: 400px;
    }
    .story-bg {
        width: 100%;
        height: 400px;
        background-color: $bg-grey;
        margin-top: 15%;
        margin-bottom: 11%;
    }
    .img {
        position: absolute;
        top: 0;
        width: 67%;
        img {
            width: 100%;
        }
    }
    .text {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        width: 100%;
        max-width: 680px;
        position: absolute;
        top: 22%;
        right: 7%;
        h2 {
            max-width: 350px;
            width: 100%;
            font-size: 8rem;
            font-family: "Crimson Text", serif;
            font-weight: normal;
            color: $blue;
            line-height: 90px;
        }
        .main-link {
            width: 100%;
            margin-top: 19.5%;
        }
        .story-link {
            width: 100%;
            background-color: $dark-blue;
            padding: 25px 30px;
            margin: 5px 0;
            font-size: 1.6rem;
            color: white;
            display: flex;
            justify-content: space-between;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s;
            .icon,
            .details-link {
                transition: all 0.5s;
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                -ms-transition: all 0.5s;
                -o-transition: all 0.5s;
            }
            &:hover {
                opacity: 0.8;
                .icon,
                .details-link {
                    transform: translate(10px, 0);
                    -webkit-transform: translate(10px, 0);
                    -moz-transform: translate(10px, 0);
                    -ms-transform: translate(10px, 0);
                    -o-transform: translate(10px, 0);
                }
            }
        }
    }
}
.story {
    .img {
        left: 0;
    }
}
.workstyle {
    .img {
        left: unset;
        right: 0;
    }
    .text {
        right: unset;
        left: 7%;
        justify-content: flex-start;
        z-index: 3;
    }
}
.interview {
    width: 100%;
    position: relative;
    .layer {
        position: absolute;
        top: 17%;
        z-index: -1;
        width: 100%;
        min-height: 470px;
        background-color: $bg-grey-1;
    }
    .interview-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .content-details {
            width: 49%;
            .title {
                margin-top: 9%;
                font-size: 8rem;
                color: $blue;
                font-weight: normal;
                font-family: "Crimson Text", serif;
                span {
                    margin-top: 10px;
                    display: block;
                    font-size: 2rem;
                    color: $grey;
                    font-family: "游ゴシック", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku 　Gothic Pro",
                        "メイリオ", "ＭＳ ゴシック", sans-serif;
                }
            }
            .content {
                margin-top: 6%;
                font-size: 2.4rem;
                font-weight: bold;
                color: $black;
            }
            .name {
                margin-top: 2%;
                font-size: 1.6rem;
                display: block;
            }
            .more {
                margin-top: 5%;
                display: block;
                font-size: 1.6rem;
                font-weight: 500;
                color: $blue;
                &:after {
                    margin-top: 6px;
                    content: "";
                    display: block;
                    width: 16px;
                    height: 2px;
                    background-color: $blue;
                }
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        .content-img {
            position: relative;
            width: 49%;
            margin: auto;
            .img-man {
                img {
                    width: 100%;
                }
                .slick-arrow {
                    width: 50px;
                    height: 50px;
                    background-color: $blue;
                    transition: all 0.5s;
                    -webkit-transition: all 0.5s;
                    -moz-transition: all 0.5s;
                    -ms-transition: all 0.5s;
                    -o-transition: all 0.5s;
                    &:hover {
                        opacity: 0.8;
                    }
                }
                .slick-next {
                    bottom: 26px;
                    right: -50px;
                    top: unset;
                    &:before {
                        font-family: "FontAwesome";
                        opacity: 1;
                        content: "\f054";
                        font-size: 1.6rem;
                    }
                }
                .slick-prev {
                    bottom: -25px;
                    left: unset;
                    top: unset;
                    right: -50px;
                    &:before {
                        font-family: "FontAwesome";
                        content: "\f053";
                        opacity: 1;
                        font-size: 1.6rem;
                    }
                }
            }
            .number {
                position: absolute;
                bottom: -27px;
                right: 0;
                font-size: 1.6rem;
                color: $grey;
                font-weight: bold;

                .active {
                    color: $blue;
                }
                .total {
                    color: $grey;
                }
            }
        }
    }
    .button__more {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 8%;
        a {
            width: 49%;
            .button {
                padding: 7% 6%;
                width: 100%;
                background-color: white;
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: all 0.5s ease;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -ms-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                span {
                    font-weight: bold;
                    font-size: 2.4rem;
                    color: $blue;
                }
                .icon,
                span {
                    transition: all 0.5s ease;
                    -webkit-transition: all 0.5s ease;
                    -moz-transition: all 0.5s ease;
                    -ms-transition: all 0.5s ease;
                    -o-transition: all 0.5s ease;
                }
                &:hover {
                    opacity: 0.8;
                    .icon,
                    span {
                        transform: translate(10px, 0);
                        -webkit-transform: translate(10px, 0);
                        -moz-transform: translate(10px, 0);
                        -ms-transform: translate(10px, 0);
                        -o-transform: translate(10px, 0);
                    }
                }
            }
        }
    }
}
.catalog {
    width: 100%;
    background-image: url("../images/bg-workspace.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5%;
    .catalog-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 8% 0;
        .catalog-item {
            cursor: pointer;
            width: 50%;
            padding: 10px;
            .img {
                width: 100%;
                overflow: hidden;
                transition: all 0.5s ease;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -ms-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                img {
                    width: 100%;
                    height: 100%;
                    transition: all 0.5s;
                    -webkit-transition: all 0.5s;
                    -moz-transition: all 0.5s;
                    -ms-transition: all 0.5s;
                    -o-transition: all 0.5s;
                }
            }
            .choose {
                margin-top: -3px;
                padding: 3% 20px;
                background-color: white;
                display: flex;
                justify-content: space-between;
                align-items: center;
                span {
                    font-size: 2rem;
                    color: $black;
                    font-weight: bold;
                }
                span,
                .icon {
                    transition: all 0.5s;
                    -webkit-transition: all 0.5s;
                    -moz-transition: all 0.5s;
                    -ms-transition: all 0.5s;
                    -o-transition: all 0.5s;
                }
            }
            &:hover {
                .img {
                    opacity: 0.8;
                    // img {
                    //     transform: scale(1.15);
                    //     -webkit-transform: scale(1.15);
                    //     -moz-transform: scale(1.15);
                    //     -ms-transform: scale(1.15);
                    //     -o-transform: scale(1.15);
                    // }
                }
                .choose {
                    span,
                    .icon {
                        opacity: 0.8;
                        transform: translate(10px, 0);
                        -webkit-transform: translate(10px, 0);
                        -moz-transform: translate(10px, 0);
                        -ms-transform: translate(10px, 0);
                        -o-transform: translate(10px, 0);
                    }
                }
            }
        }
        .play-log {
            position: relative;
            .icon-play {
                position: absolute;
                top: 25%;
                left: 50%;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                i {
                    font-size: 50px;
                    color: transparent;
                }
            }
        }
    }
}
.blog {
    margin-top: 5%;
    .title {
        font-size: 6.4rem;
        font-family: "Crimson Text", serif;
        color: $blue;
        font-weight: normal;
        text-align: center;
        span {
            display: block;
            font-size: 2rem;
            color: $black;
            font-family: "游ゴシック", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku 　Gothic Pro",
                "メイリオ", "ＭＳ ゴシック", sans-serif;
        }
    }
    .blog-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 4%;
        .content-block {
            width: 33%;
            padding: 0 5px;
            .img {
                overflow: hidden;
                width: 100%;
                img {
                    width: 100%;
                    transition: all 0.5s;
                    -webkit-transition: all 0.5s;
                    -moz-transition: all 0.5s;
                    -ms-transition: all 0.5s;
                    -o-transition: all 0.5s;
                }
            }
            .text {
                h4 {
                    margin-top: 10px;
                    font-size: 1.4rem;
                    color: $blue;
                    span {
                        color: $grey;
                    }
                }
                h3 {
                    margin-top: 10px;
                    letter-spacing: 2px;
                    font-size: 1.6rem;
                    font-weight: normal;
                    color: $black;
                }
            }
            &:hover {
                opacity: 0.8;
                .img {
                    img {
                        transform: scale(1.15);
                        -webkit-transform: scale(1.15);
                        -moz-transform: scale(1.15);
                        -ms-transform: scale(1.15);
                        -o-transform: scale(1.15);
                    }
                }
            }
        }
    }
    .button {
        width: 180px;
        text-align: center;
        margin: 0 auto;
        margin-top: 4%;
        font-size: 1.6rem;
        color: $grey;
        padding: 7px 6px;
        border: 1px solid $bg-grey-1;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        &:hover {
            background-color: $dark-blue;
            color: white;
            border-color: $dark-blue;
        }
    }
}
.recruit {
    margin-top: 3%;
    .title {
        text-align: center;
        font-size: 64px;
        font-family: "Crimson Text", serif;
        font-weight: normal;
        color: $blue;
        span {
            display: block;
            font-size: 2rem;
            color: $grey;
            font-family: "游ゴシック", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku 　Gothic Pro",
                "メイリオ", "ＭＳ ゴシック", sans-serif;
        }
    }
    .recruit-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 4.5%;
        .recruit-block {
            z-index: 1;
            width: 23.8%;
            background-color: white;
            transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            .item {
                padding: 26% 0;
                text-align: center;
                transition: all 0.5s ease;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -ms-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                h3 {
                    font-size: 2rem;
                    margin-top: 10%;
                    color: $black;
                }
            }
            &:before {
                content: "";
                width: 100%;
                height: 5px;
                background-color: $blue;
                display: block;
            }
            &:hover {
                opacity: 0.8;
                .item {
                    transform: translate(0, -10px);
                    -webkit-transform: translate(0, -10px);
                    -moz-transform: translate(0, -10px);
                    -ms-transform: translate(0, -10px);
                    -o-transform: translate(0, -10px);
                }
            }
        }
    }
}
.entry-bottom {
    margin-top: -5%;
    min-height: 360px;
    width: 100%;
    background-image: url(../images/bg-workspace.jpg);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .button {
        max-width: 360px;
        margin-top: 5%;
        width: 100%;
        height: 80px;
        background-color: $dark-blue;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        .entry-button {
            width: 100%;
            font-size: 2.4rem;
            font-weight: 600;
            color: white;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s;
        }
        &:hover {
            background-color: white;
            .entry-button {
                color: $blue;
            }
        }
    }
}
.footer {
    width: 100%;
    padding: 39px 20px;
    background-color: $dark-blue;
    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .left {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            .item {
                margin-right: 20px;
                a {
                    font-size: 1.4rem;
                    color: white;
                    letter-spacing: 2px;
                }
                img {
                    margin-left: 5px;
                }
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        .right {
            p {
                font-size: 1.4rem;
                color: white;
                letter-spacing: 2px;
            }
        }
    }
}
#backTop {
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 1028;
    a {
        opacity: 0.8;
        display: block;
        width: 50px;
        height: 50px;
        line-height: 54px;
        background-color: $blue;
        text-align: center;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        i {
            font-size: 1.6rem;
            color: white;
        }
        &:hover {
            opacity: 1;
        }
    }
}
@include CSSIE {
    .header {
        .logo {
            width: 90%;
        }
        .header__menu {
            .entry {
                padding: 9px 0;
                padding-top: 8px;
            }
        }
    }
    .entry-bottom {
        .button {
            margin-top: 9.5%;
        }
    }
    .blog {
        .button {
            p {
                padding-top: 5px;
            }
        }
    }
    .interview {
        .interview-content {
            .content-img {
                .img-man {
                    .slick-next {
                        top: 81.7%;
                    }
                    .slick-prev {
                        left: 100%;
                        top: 94%;
                    }
                }
            }
        }
    }
    .years .years-content .title p {
        margin-top: 15%;
    }
    .entry-bottom .button .entry-button {
        padding-top: 8px;
    }
    .catalog .catalog-content .catalog-item .choose {
        margin-top: -4px;
    }
}
@media screen and (max-width: 1024px) {
    .technical__content {
        position: unset !important;
        transform: unset !important;
        -webkit-transform: unset !important;
        -moz-transform: unset !important;
        -ms-transform: unset !important;
        -o-transform: unset !important;
        padding-bottom: 20px;
        h2 {
            margin-top: 2.3% !important;
        }
    }
    .slice-top {
        .slice__content {
            .slice__details {
                .title {
                    font-size: 5rem;
                    letter-spacing: unset;
                }
            }
        }
    }
    .interview {
        .interview-content {
            .content-details {
                width: 100%;
                .content {
                    margin-top: 2%;
                }
            }
            .img-man {
                margin: 40px auto 0;
            }
        }
        .button__more {
            margin-top: 50px;
        }
        .layer {
            height: 100%;
        }
    }
    .story,
    .workstyle {
        .img,
        .text {
            position: unset;
            margin: 20px auto;
        }
        .story-bg {
            display: none;
            visibility: hidden;
        }
        .text {
            .main-link {
                margin-top: 0;
            }
        }
        .img{
            width: 100%;
        }
    }
    .workstyle {
        .text {
            margin-top: 8%;
        }
    }
    .project-file {
        .project-content {
            .project-text {
                .number {
                    font-size: 4.4rem;
                }
            }
        }
    }
    .years {
        .years-content {
            .title {
                h4 {
                    font-size: 3.5rem;
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    #backTop {
        a {
            width: 40px;
            height: 40px;
            line-height: 42px;
        }
    }
    .header {
        .header__menu {
            .menu__button {
                span {
                    height: 2px;
                }
                span:first-of-type {
                    transform: translateY(-18px);
                    -webkit-transform: translateY(-18px);
                    -moz-transform: translateY(-18px);
                    -ms-transform: translateY(-18px);
                    -o-transform: translateY(-18px);
                }
                span:last-of-type {
                    transform: translateY(18px);
                    -webkit-transform: translateY(18px);
                    -moz-transform: translateY(18px);
                    -ms-transform: translateY(18px);
                    -o-transform: translateY(18px);
                }
            }
        }
    }
    .project-file {
        .project-content {
            .project-text {
                .number {
                    font-size: 3.8rem;
                }
                h3.title {
                    font-size: 2rem;
                }
            }
        }
    }
    .interview {
        .interview-content {
            .img .left {
                bottom: 6px;
            }
            .right {
                bottom: 59px;
            }
        }
        .button__more {
            a {
                .button {
                    padding: 3% 6%;
                    span {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
    .catalog .catalog-content .catalog-item .img img {
        margin-bottom: -3px;
    }
    .catalog .catalog-content .play-log .icon-play {
        width: 50px;
    }
    .interview {
        .interview-content {
            .content-img {
                .img-man {
                    .slick-arrow {
                        width: 40px;
                        height: 40px;
                    }
                    .slick-prev {
                        bottom: -20px;
                        right: -40px;
                    }
                    .slick-next {
                        bottom: 22px;
                        right: -40px;
                    }
                }
            }
        }
    }
}
@media screen and(max-width: 576px) {
    h2 {
        font-size: 2.4rem !important;
    }
    .header {
        padding: 10px;
        .logo {
            h1 {
                a {
                    font-size: 2.4rem;
                }
            }
        }
        .header-drawer {
            background-color: white;
            .recruit {
                .recruit-content {
                    .recruit-block {
                        .item {
                            padding: 5% 0;
                            h3 {
                                font-size: 1.4rem;
                                margin-top: 5%;
                            }
                        }
                    }
                }
            }
        }
        .header__menu {
            .menu__button {
                width: 30px;
                height: 30px;
                span {
                    background-color: $blue !important;
                }
                span:first-of-type {
                    transform: translateY(-13px);
                    -webkit-transform: translateY(-13px);
                    -moz-transform: translateY(-13px);
                    -ms-transform: translateY(-13px);
                    -o-transform: translateY(-13px);
                }
                span:last-of-type {
                    transform: translateY(13px);
                    -webkit-transform: translateY(13px);
                    -moz-transform: translateY(13px);
                    -ms-transform: translateY(13px);
                    -o-transform: translateY(13px);
                }
            }
            .entry {
                width: 100px;
                padding: 3px 0;
                margin-right: 20px;
            }
        }
    }
    .header.stick {
        padding: 10px;
    }
    .slice-top {
        .slice__content {
            .slice__details {
                .title {
                    top: 45%;
                    font-size: 2rem;
                }
            }
        }
    }

    .technical {
        min-height: unset;
        .technical__content {
            h2 {
                span {
                    font-size: 1.2rem;
                }
            }
            .text {
                p {
                    font-size: 1.2rem;
                }
            }
        }
    }
    .project-file {
        .project-content {
            max-height: 150px;
            width: 100%;
            margin: 10px 20px;
            a {
                img {
                    object-fit: cover;
                }
            }
            .project-text {
                span {
                    font-size: 1.4rem;
                }
                .number {
                    font-size: 3rem;
                    &::after {
                        height: 1px;
                    }
                }
                h3.title {
                    font-size: 1.6rem;
                }
            }
        }
    }
    .years {
        .years-content {
            .title {
                top: 22%;
                width: 100%;
                h4 {
                    font-size: 1.6rem;
                }
                p {
                    margin-top: 4%;
                    font-size: 1.2rem;
                }
            }
            span.more {
                font-size: 0.8rem;
                bottom: 8px;
                right: 8px;
                &:before {
                    margin-bottom: 3px;
                    width: 7px;
                    height: 1px;
                }
                &:after {
                    display: none;
                    visibility: hidden;
                }
            }
        }
    }
    .story,
    .workstyle {
        .text {
            h2 {
                line-height: unset !important;
            }
            .story-link {
                padding: 10px;
                font-size: 1.2rem !important;
                // .icon {
                //     display: none;
                // }
            }
        }
        .bg-grey {
            min-height: unset;
        }
    }
    .interview {
        .layer {
            top: 0;
            padding-bottom: 20px;
        }
        .interview-content {
            .content-details {
                .title {
                    margin-top: 0px;
                    span {
                        font-size: 1.2rem;
                    }
                }
                .content {
                    font-size: 1.4rem;
                }
            }
            .content-img {
                width: 100%;
                .slick-arrow {
                    width: 30px !important;
                    height: 30px !important;
                }
                .slick-next {
                    right: 0px !important;
                    top: -15px !important;
                }
                .slick-prev {
                    top: -15px !important;
                    right: 33px !important;
                }
                .number {
                    font-size: 1.2rem;
                }
            }
        }
        .button__more {
            padding-bottom: 30px;
            a {
                margin: 5px 0;
                width: 100%;
                .button {
                    // padding: 4% 6%;
                    span {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
    .catalog {
        .catalog-content {
            .catalog-item {
                width: 100%;
                .choose {
                    span {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
    .blog {
        .title {
            span {
                font-size: 1.2rem;
            }
        }
        .blog-content {
            .content-block {
                margin-bottom: 20px;
                width: 100%;
                .text {
                    h3 {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
    .recruit {
        padding: 20px 0;
        .title {
            span {
                font-size: 12px;
            }
        }
        .recruit-content {
            .recruit-block {
                width: 100%;
                .item {
                    padding: 8% 0;
                }
                &:before {
                    width: 50%;
                    margin: auto;
                    height: 2px;
                }
            }
        }
    }
    .recruit-main {
        .recruit-content {
            .recruit-block {
                .item {
                    padding: 20px 0;
                    img {
                        width: 50px;
                    }
                    h3 {
                        margin-top: 3%;
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
    .entry-bottom {
        margin-top: 0;
        min-height: 200px;
        padding: 40px 0;
        .button {
            margin-top: 0;
            width: 200px;
            padding: 5px 0;
            height: unset;
        }
    }
    .footer {
        padding: 20px;
        .footer-content {
            .left,
            .right {
                width: 100%;
                margin-top: 10px;
                text-align: left;
            }
            .left {
                margin-top: 0px;
                .item {
                    margin-bottom: 10px;
                    width: 100%;
                }
            }
        }
    }
}
@media screen and (max-width: 320px) {
    .story,
    .workstyle {
        .text {
            .story-link {
                .icon {
                    display: none;
                }
            }
        }
    }
    .years {
        .years-content {
            .title {
                p {
                    margin-top: 1%;
                }
            }
        }
    }
}
