@charset "UTF-8";
@font-face {
  font-family: A1MinchoStd-Bold;
  src: url("../assets/fonts/A1MinchoStd-Bold.otf"); }
.header {
  position: fixed;
  top: 0;
  z-index: 1030;
  width: 100%;
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  .header .logo h1 a {
    font-size: 3.6rem;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500; }
  .header .logo:hover {
    opacity: 0.8; }
  .header .header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .header__menu .entry {
      width: 120px;
      padding: 9px 0;
      margin-right: 30px;
      background-color: #013e8d;
      border: 1px solid #013e8d;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease; }
      .header .header__menu .entry a {
        font-size: 1.6rem;
        color: white;
        font-family: "Roboto Condensed", sans-serif; }
      .header .header__menu .entry:hover {
        background-color: white; }
        .header .header__menu .entry:hover a {
          color: #013e8d; }
    .header .header__menu .menu__button {
      cursor: pointer;
      position: relative;
      width: 40px;
      height: 40px;
      z-index: 9999; }
      .header .header__menu .menu__button span {
        position: absolute;
        width: 100%;
        height: 4px;
        top: 46%;
        background-color: #013e8d;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease; }
      .header .header__menu .menu__button span:first-of-type {
        transform: translateY(-17px);
        -webkit-transform: translateY(-17px);
        -moz-transform: translateY(-17px);
        -ms-transform: translateY(-17px);
        -o-transform: translateY(-17px); }
      .header .header__menu .menu__button span:last-of-type {
        transform: translateY(17px);
        -webkit-transform: translateY(17px);
        -moz-transform: translateY(17px);
        -ms-transform: translateY(17px);
        -o-transform: translateY(17px); }
    .header .header__menu .menu__button.active span {
      transform: translateY(0) rotate(45deg);
      -webkit-transform: translateY(0) rotate(45deg);
      -moz-transform: translateY(0) rotate(45deg);
      -ms-transform: translateY(0) rotate(45deg);
      -o-transform: translateY(0) rotate(45deg);
      background-color: white; }
    .header .header__menu .menu__button.active span:first-of-type {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg); }
    .header .header__menu .menu__button.active span:last-of-type {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -o-transform: rotate(135deg); }
  .header .header-drawer {
    overflow: hidden;
    position: absolute;
    z-index: 1299;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #002554;
    height: 0;
    transition: height 0.5s ease;
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -ms-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .header-drawer .recruit {
      max-width: 1120px;
      width: 100%;
      margin: auto; }
      .header .header-drawer .recruit .recruit-content .recruit-block:before {
        background-color: #002554; }
  .header .header-drawer.expand {
    height: 100vh; }

.header.stick {
  padding: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 4px; }
  .header.stick .logo h1 a {
    color: #013e8d; }

.slice-top {
  width: 100%; }
  .slice-top .slice__content {
    width: 100%; }
    .slice-top .slice__content .slice__details {
      position: relative; }
      .slice-top .slice__content .slice__details img {
        width: 100%; }
      .slice-top .slice__content .slice__details .title {
        width: 100%;
        position: absolute;
        letter-spacing: 23px;
        top: 35%;
        left: 50%;
        text-align: center;
        color: white;
        z-index: 2;
        font-size: 8rem;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        font-family: "A1MinchoStd-Bold", sans-serif; }

.technical {
  width: 100%;
  position: relative;
  min-height: 200px; }
  .technical .technical__content {
    max-width: 1120px;
    position: absolute;
    top: -68%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    background-color: white;
    max-height: 355px;
    z-index: 100; }
    .technical .technical__content h2 {
      text-align: center;
      font-size: 6.4rem;
      font-family: "Crimson Text", serif;
      font-weight: normal;
      margin-top: 5.3%;
      color: #013e8d; }
      .technical .technical__content h2 span {
        font-size: 2rem;
        display: block;
        color: #666666;
        margin-top: 1%;
        font-family: "游ゴシック", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku 　Gothic Pro", "メイリオ", "ＭＳ ゴシック", sans-serif; }
    .technical .technical__content .text {
      margin-top: 3%;
      padding: 0 20px; }
      .technical .technical__content .text p {
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
        color: #333333; }

.project-file {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .project-file .project-content {
    position: relative;
    width: 20%; }
    .project-file .project-content .layer {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      background-color: rgba(0, 58, 121, 0.842);
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s; }
    .project-file .project-content img {
      width: 100%;
      height: 100%;
      transition: all 1s;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -ms-transition: all 1s;
      -o-transition: all 1s; }
    .project-file .project-content .project-text {
      position: absolute;
      text-align: center;
      z-index: 2;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      color: white;
      font-family: "Crimson Text", serif; }
      .project-file .project-content .project-text span {
        font-size: 1.8rem;
        letter-spacing: 2px; }
      .project-file .project-content .project-text .number {
        font-size: 6.4rem; }
        .project-file .project-content .project-text .number:after {
          content: "";
          display: block;
          width: 16px;
          height: 2px;
          background-color: white;
          margin: 0 auto; }
      .project-file .project-content .project-text h3.title {
        margin-top: 5%;
        font-size: 24px;
        font-weight: normal;
        font-family: "游ゴシック", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku 　Gothic Pro", "メイリオ", "ＭＳ ゴシック", sans-serif; }
    .project-file .project-content:hover .layer {
      height: 0; }
    .project-file .project-content:hover .project-text {
      color: #013e8d; }
    .project-file .project-content:hover img {
      opacity: 0.8; }

.years {
  width: 100%; }
  .years .years-content {
    cursor: pointer;
    width: 100%;
    margin: 9% 0;
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s; }
    .years .years-content .title {
      position: absolute;
      top: 26%;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      color: white;
      text-align: center; }
      .years .years-content .title h4 {
        font-size: 4.5rem;
        font-family: "A1MinchoStd-Bold", sans-serif;
        font-weight: normal; }
      .years .years-content .title p {
        margin-top: 10%;
        font-size: 2rem;
        letter-spacing: 2px;
        font-family: "Crimson Text", serif; }
    .years .years-content img {
      width: 100%; }
    .years .years-content span.more {
      overflow: hidden;
      position: absolute;
      bottom: 20px;
      right: 30px;
      font-size: 1.6rem;
      color: white; }
      .years .years-content span.more:before {
        content: "";
        width: 16px;
        height: 2px;
        background-color: white;
        display: block;
        margin-bottom: 15px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s; }
      .years .years-content span.more:after {
        transform: rotate(135deg);
        position: absolute;
        right: -3px;
        top: 5px;
        content: "";
        width: 0px;
        height: 2px;
        display: block;
        background-color: white;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s; }
    .years .years-content:hover {
      opacity: 0.8; }
      .years .years-content:hover:before {
        width: 100%; }
      .years .years-content:hover span.more:before {
        width: 100%; }
      .years .years-content:hover span.more:after {
        width: 17px; }

.story,
.workstyle {
  max-width: 1600px;
  margin: 0 auto;
  position: relative; }
  .story .layer,
  .workstyle .layer {
    height: 5px; }
  .story .bg-grey,
  .workstyle .bg-grey {
    width: 100%;
    min-height: 400px; }
  .story .story-bg,
  .workstyle .story-bg {
    width: 100%;
    height: 400px;
    background-color: #e5e5e5;
    margin-top: 15%;
    margin-bottom: 11%; }
  .story .img,
  .workstyle .img {
    position: absolute;
    top: 0;
    width: 67%; }
    .story .img img,
    .workstyle .img img {
      width: 100%; }
  .story .text,
  .workstyle .text {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
    max-width: 680px;
    position: absolute;
    top: 22%;
    right: 7%; }
    .story .text h2,
    .workstyle .text h2 {
      max-width: 350px;
      width: 100%;
      font-size: 8rem;
      font-family: "Crimson Text", serif;
      font-weight: normal;
      color: #013e8d;
      line-height: 90px; }
    .story .text .main-link,
    .workstyle .text .main-link {
      width: 100%;
      margin-top: 19.5%; }
    .story .text .story-link,
    .workstyle .text .story-link {
      width: 100%;
      background-color: #002554;
      padding: 25px 30px;
      margin: 5px 0;
      font-size: 1.6rem;
      color: white;
      display: flex;
      justify-content: space-between;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s; }
      .story .text .story-link .icon,
      .story .text .story-link .details-link,
      .workstyle .text .story-link .icon,
      .workstyle .text .story-link .details-link {
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s; }
      .story .text .story-link:hover,
      .workstyle .text .story-link:hover {
        opacity: 0.8; }
        .story .text .story-link:hover .icon,
        .story .text .story-link:hover .details-link,
        .workstyle .text .story-link:hover .icon,
        .workstyle .text .story-link:hover .details-link {
          transform: translate(10px, 0);
          -webkit-transform: translate(10px, 0);
          -moz-transform: translate(10px, 0);
          -ms-transform: translate(10px, 0);
          -o-transform: translate(10px, 0); }

.story .img {
  left: 0; }

.workstyle .img {
  left: unset;
  right: 0; }
.workstyle .text {
  right: unset;
  left: 7%;
  justify-content: flex-start;
  z-index: 3; }

.interview {
  width: 100%;
  position: relative; }
  .interview .layer {
    position: absolute;
    top: 17%;
    z-index: -1;
    width: 100%;
    min-height: 470px;
    background-color: #d3d4d9; }
  .interview .interview-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .interview .interview-content .content-details {
      width: 49%; }
      .interview .interview-content .content-details .title {
        margin-top: 9%;
        font-size: 8rem;
        color: #013e8d;
        font-weight: normal;
        font-family: "Crimson Text", serif; }
        .interview .interview-content .content-details .title span {
          margin-top: 10px;
          display: block;
          font-size: 2rem;
          color: #666666;
          font-family: "游ゴシック", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku 　Gothic Pro", "メイリオ", "ＭＳ ゴシック", sans-serif; }
      .interview .interview-content .content-details .content {
        margin-top: 6%;
        font-size: 2.4rem;
        font-weight: bold;
        color: #333333; }
      .interview .interview-content .content-details .name {
        margin-top: 2%;
        font-size: 1.6rem;
        display: block; }
      .interview .interview-content .content-details .more {
        margin-top: 5%;
        display: block;
        font-size: 1.6rem;
        font-weight: 500;
        color: #013e8d; }
        .interview .interview-content .content-details .more:after {
          margin-top: 6px;
          content: "";
          display: block;
          width: 16px;
          height: 2px;
          background-color: #013e8d; }
        .interview .interview-content .content-details .more:hover {
          opacity: 0.8; }
    .interview .interview-content .content-img {
      position: relative;
      width: 49%;
      margin: auto; }
      .interview .interview-content .content-img .img-man img {
        width: 100%; }
      .interview .interview-content .content-img .img-man .slick-arrow {
        width: 50px;
        height: 50px;
        background-color: #013e8d;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s; }
        .interview .interview-content .content-img .img-man .slick-arrow:hover {
          opacity: 0.8; }
      .interview .interview-content .content-img .img-man .slick-next {
        bottom: 26px;
        right: -50px;
        top: unset; }
        .interview .interview-content .content-img .img-man .slick-next:before {
          font-family: "FontAwesome";
          opacity: 1;
          content: "\f054";
          font-size: 1.6rem; }
      .interview .interview-content .content-img .img-man .slick-prev {
        bottom: -25px;
        left: unset;
        top: unset;
        right: -50px; }
        .interview .interview-content .content-img .img-man .slick-prev:before {
          font-family: "FontAwesome";
          content: "\f053";
          opacity: 1;
          font-size: 1.6rem; }
      .interview .interview-content .content-img .number {
        position: absolute;
        bottom: -27px;
        right: 0;
        font-size: 1.6rem;
        color: #666666;
        font-weight: bold; }
        .interview .interview-content .content-img .number .active {
          color: #013e8d; }
        .interview .interview-content .content-img .number .total {
          color: #666666; }
  .interview .button__more {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 8%; }
    .interview .button__more a {
      width: 49%; }
      .interview .button__more a .button {
        padding: 7% 6%;
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease; }
        .interview .button__more a .button span {
          font-weight: bold;
          font-size: 2.4rem;
          color: #013e8d; }
        .interview .button__more a .button .icon,
        .interview .button__more a .button span {
          transition: all 0.5s ease;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          -o-transition: all 0.5s ease; }
        .interview .button__more a .button:hover {
          opacity: 0.8; }
          .interview .button__more a .button:hover .icon,
          .interview .button__more a .button:hover span {
            transform: translate(10px, 0);
            -webkit-transform: translate(10px, 0);
            -moz-transform: translate(10px, 0);
            -ms-transform: translate(10px, 0);
            -o-transform: translate(10px, 0); }

.catalog {
  width: 100%;
  background-image: url("../images/bg-workspace.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5%; }
  .catalog .catalog-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8% 0; }
    .catalog .catalog-content .catalog-item {
      cursor: pointer;
      width: 50%;
      padding: 10px; }
      .catalog .catalog-content .catalog-item .img {
        width: 100%;
        overflow: hidden;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease; }
        .catalog .catalog-content .catalog-item .img img {
          width: 100%;
          height: 100%;
          transition: all 0.5s;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -o-transition: all 0.5s; }
      .catalog .catalog-content .catalog-item .choose {
        margin-top: -3px;
        padding: 3% 20px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .catalog .catalog-content .catalog-item .choose span {
          font-size: 2rem;
          color: #333333;
          font-weight: bold; }
        .catalog .catalog-content .catalog-item .choose span,
        .catalog .catalog-content .catalog-item .choose .icon {
          transition: all 0.5s;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -o-transition: all 0.5s; }
      .catalog .catalog-content .catalog-item:hover .img {
        opacity: 0.8; }
      .catalog .catalog-content .catalog-item:hover .choose span,
      .catalog .catalog-content .catalog-item:hover .choose .icon {
        opacity: 0.8;
        transform: translate(10px, 0);
        -webkit-transform: translate(10px, 0);
        -moz-transform: translate(10px, 0);
        -ms-transform: translate(10px, 0);
        -o-transform: translate(10px, 0); }
    .catalog .catalog-content .play-log {
      position: relative; }
      .catalog .catalog-content .play-log .icon-play {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%); }
        .catalog .catalog-content .play-log .icon-play i {
          font-size: 50px;
          color: transparent; }

.blog {
  margin-top: 5%; }
  .blog .title {
    font-size: 6.4rem;
    font-family: "Crimson Text", serif;
    color: #013e8d;
    font-weight: normal;
    text-align: center; }
    .blog .title span {
      display: block;
      font-size: 2rem;
      color: #333333;
      font-family: "游ゴシック", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku 　Gothic Pro", "メイリオ", "ＭＳ ゴシック", sans-serif; }
  .blog .blog-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 4%; }
    .blog .blog-content .content-block {
      width: 33%;
      padding: 0 5px; }
      .blog .blog-content .content-block .img {
        overflow: hidden;
        width: 100%; }
        .blog .blog-content .content-block .img img {
          width: 100%;
          transition: all 0.5s;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -o-transition: all 0.5s; }
      .blog .blog-content .content-block .text h4 {
        margin-top: 10px;
        font-size: 1.4rem;
        color: #013e8d; }
        .blog .blog-content .content-block .text h4 span {
          color: #666666; }
      .blog .blog-content .content-block .text h3 {
        margin-top: 10px;
        letter-spacing: 1px;
        font-size: 1.6rem;
        font-weight: normal;
        color: #333333; }
      .blog .blog-content .content-block:hover {
        opacity: 0.8; }
        .blog .blog-content .content-block:hover .img img {
          transform: scale(1.15);
          -webkit-transform: scale(1.15);
          -moz-transform: scale(1.15);
          -ms-transform: scale(1.15);
          -o-transform: scale(1.15); }
  .blog .button {
    width: 180px;
    text-align: center;
    margin: 0 auto;
    margin-top: 4%;
    font-size: 1.6rem;
    color: #666666;
    padding: 7px 6px;
    border: 1px solid #d3d4d9;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s; }
    .blog .button:hover {
      background-color: #002554;
      color: white;
      border-color: #002554; }

.recruit {
  margin-top: 3%; }
  .recruit .title {
    text-align: center;
    font-size: 64px;
    font-family: "Crimson Text", serif;
    font-weight: normal;
    color: #013e8d; }
    .recruit .title span {
      display: block;
      font-size: 2rem;
      color: #666666;
      font-family: "游ゴシック", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku 　Gothic Pro", "メイリオ", "ＭＳ ゴシック", sans-serif; }
  .recruit .recruit-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 4.5%; }
    .recruit .recruit-content .recruit-block {
      z-index: 1;
      width: 23.8%;
      background-color: white;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease; }
      .recruit .recruit-content .recruit-block .item {
        padding: 26% 0;
        text-align: center;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease; }
        .recruit .recruit-content .recruit-block .item h3 {
          font-size: 2rem;
          margin-top: 10%;
          color: #333333; }
      .recruit .recruit-content .recruit-block:before {
        content: "";
        width: 100%;
        height: 5px;
        background-color: #013e8d;
        display: block; }
      .recruit .recruit-content .recruit-block:hover {
        opacity: 0.8; }
        .recruit .recruit-content .recruit-block:hover .item {
          transform: translate(0, -10px);
          -webkit-transform: translate(0, -10px);
          -moz-transform: translate(0, -10px);
          -ms-transform: translate(0, -10px);
          -o-transform: translate(0, -10px); }

.entry-bottom {
  margin-top: -5%;
  min-height: 360px;
  width: 100%;
  background-image: url(../images/bg-workspace.jpg);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .entry-bottom .button {
    max-width: 360px;
    margin-top: 5%;
    width: 100%;
    height: 80px;
    background-color: #002554;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s; }
    .entry-bottom .button .entry-button {
      width: 100%;
      font-size: 2.4rem;
      font-weight: 600;
      color: white;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s; }
    .entry-bottom .button:hover {
      background-color: white; }
      .entry-bottom .button:hover .entry-button {
        color: #013e8d; }

.footer {
  width: 100%;
  padding: 39px 20px;
  background-color: #002554; }
  .footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    .footer .footer-content .left {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center; }
      .footer .footer-content .left .item {
        margin-right: 20px; }
        .footer .footer-content .left .item a {
          font-size: 1.4rem;
          color: white;
          letter-spacing: 2px; }
        .footer .footer-content .left .item:hover {
          opacity: 0.8; }
    .footer .footer-content .right p {
      font-size: 1.4rem;
      color: white;
      letter-spacing: 2px; }

#backTop {
  position: fixed;
  bottom: 10%;
  right: 5%;
  z-index: 1028; }
  #backTop a {
    opacity: 0.8;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 54px;
    background-color: #013e8d;
    text-align: center;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s; }
    #backTop a i {
      font-size: 1.6rem;
      color: white; }
    #backTop a:hover {
      opacity: 1; }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .header .logo {
    width: 90%; }
  .header .header__menu .entry {
    padding: 9px 0;
    padding-top: 8px; }

  .entry-bottom .button {
    margin-top: 9.5%; }

  .blog .button p {
    padding-top: 5px; }

  .interview .interview-content .content-img .img-man .slick-next {
    top: 81.7%; }
  .interview .interview-content .content-img .img-man .slick-prev {
    left: 100%;
    top: 94%; }

  .years .years-content .title p {
    margin-top: 15%; }

  .entry-bottom .button .entry-button {
    padding-top: 8px; }

  .catalog .catalog-content .catalog-item .choose {
    margin-top: -4px; } }
@media screen and (max-width: 1024px) {
  .technical__content {
    position: unset !important;
    transform: unset !important;
    -webkit-transform: unset !important;
    -moz-transform: unset !important;
    -ms-transform: unset !important;
    -o-transform: unset !important;
    padding-bottom: 20px; }
    .technical__content h2 {
      margin-top: 2.3% !important; }

  .slice-top .slice__content .slice__details .title {
    font-size: 5rem;
    letter-spacing: unset; }

  .interview .interview-content .content-details {
    width: 100%; }
    .interview .interview-content .content-details .content {
      margin-top: 2%; }
  .interview .interview-content .img-man {
    margin: 40px auto 0; }
  .interview .button__more {
    margin-top: 50px; }
  .interview .layer {
    height: 100%; }

  .story .img,
  .story .text,
  .workstyle .img,
  .workstyle .text {
    position: unset;
    margin: 20px auto; }
  .story .story-bg,
  .workstyle .story-bg {
    display: none;
    visibility: hidden; }
  .story .text .main-link,
  .workstyle .text .main-link {
    margin-top: 0; }
  .story .img,
  .workstyle .img {
    width: 100%; }

  .workstyle .text {
    margin-top: 8%; }

  .project-file .project-content .project-text .number {
    font-size: 4.4rem; }

  .years .years-content .title h4 {
    font-size: 3.5rem; } }
@media screen and (max-width: 768px) {
  .technical .technical__content .text p {
    font-size: 1.6rem; }

  #backTop a {
    width: 40px;
    height: 40px;
    line-height: 42px; }

  .header .header__menu .menu__button span {
    height: 2px; }
  .header .header__menu .menu__button span:first-of-type {
    transform: translateY(-18px);
    -webkit-transform: translateY(-18px);
    -moz-transform: translateY(-18px);
    -ms-transform: translateY(-18px);
    -o-transform: translateY(-18px); }
  .header .header__menu .menu__button span:last-of-type {
    transform: translateY(18px);
    -webkit-transform: translateY(18px);
    -moz-transform: translateY(18px);
    -ms-transform: translateY(18px);
    -o-transform: translateY(18px); }

  .project-file .project-content .project-text .number {
    font-size: 3.8rem; }
  .project-file .project-content .project-text h3.title {
    font-size: 2rem; }

  .interview .button__more a .button {
    padding: 3% 6%; }
    .interview .button__more a .button span {
      font-size: 2rem; }

  .catalog .catalog-content .catalog-item .img img {
    margin-bottom: -3px; }

  .catalog .catalog-content .play-log .icon-play {
    width: 50px; }

  .interview .interview-content .content-img .img-man .slick-arrow {
    width: 40px;
    height: 40px; }
  .interview .interview-content .content-img .img-man .slick-prev {
    bottom: -20px;
    right: -40px; }
  .interview .interview-content .content-img .img-man .slick-next {
    bottom: 22px;
    right: -40px; }
  .interview .interview-content .content-details .title {
    margin-top: 3%; }

  .story .text,
  .workstyle .text {
    max-width: unset;
    margin: 0; }
    .story .text h2,
    .workstyle .text h2 {
      max-width: unset; }
    .story .text .story-link,
    .workstyle .text .story-link {
      margin-bottom: 20px; }
  .story .bg-grey,
  .workstyle .bg-grey {
    background-color: #e5e5e5;
    padding-bottom: 30px; }

  .workstyle {
    margin-top: 30px; }
    .workstyle .text {
      margin-top: 0; } }
@media screen and (max-width: 576px) {
  h2 {
    font-size: 2.4rem !important; }

  .header {
    padding: 10px; }
    .header .logo h1 a {
      font-size: 2.4rem; }
    .header .header-drawer {
      background-color: white; }
      .header .header-drawer .recruit .recruit-content .recruit-block .item {
        padding: 5% 0; }
        .header .header-drawer .recruit .recruit-content .recruit-block .item h3 {
          font-size: 1.4rem;
          margin-top: 5%; }
    .header .header__menu .menu__button {
      width: 30px;
      height: 30px; }
      .header .header__menu .menu__button span {
        background-color: #013e8d !important; }
      .header .header__menu .menu__button span:first-of-type {
        transform: translateY(-13px);
        -webkit-transform: translateY(-13px);
        -moz-transform: translateY(-13px);
        -ms-transform: translateY(-13px);
        -o-transform: translateY(-13px); }
      .header .header__menu .menu__button span:last-of-type {
        transform: translateY(13px);
        -webkit-transform: translateY(13px);
        -moz-transform: translateY(13px);
        -ms-transform: translateY(13px);
        -o-transform: translateY(13px); }
    .header .header__menu .entry {
      width: 100px;
      padding: 3px 0;
      margin-right: 20px; }

  .header.stick {
    padding: 10px; }

  .slice-top .slice__content .slice__details .title {
    top: 45%;
    font-size: 2rem; }

  .technical {
    min-height: unset; }
    .technical .technical__content h2 span {
      font-size: 1.2rem; }
    .technical .technical__content .text p {
      font-size: 1.2rem; }

  .project-file .project-content {
    max-height: 150px;
    width: 100%;
    margin: 10px 20px; }
    .project-file .project-content a img {
      object-fit: cover; }
    .project-file .project-content .project-text span {
      font-size: 1.4rem; }
    .project-file .project-content .project-text .number {
      font-size: 3rem; }
      .project-file .project-content .project-text .number::after {
        height: 1px; }
    .project-file .project-content .project-text h3.title {
      font-size: 1.6rem; }

  .years .years-content .title {
    top: 22%;
    width: 100%; }
    .years .years-content .title h4 {
      font-size: 1.6rem; }
    .years .years-content .title p {
      margin-top: 4%;
      font-size: 1.2rem; }
  .years .years-content span.more {
    font-size: 0.8rem;
    bottom: 8px;
    right: 8px; }
    .years .years-content span.more:before {
      margin-bottom: 3px;
      width: 7px;
      height: 1px; }
    .years .years-content span.more:after {
      display: none;
      visibility: hidden; }

  .story .text h2,
  .workstyle .text h2 {
    line-height: unset !important; }
  .story .text .story-link,
  .workstyle .text .story-link {
    padding: 10px;
    font-size: 1.2rem !important; }
  .story .bg-grey,
  .workstyle .bg-grey {
    min-height: unset; }

  .interview .layer {
    top: 0;
    padding-bottom: 20px; }
  .interview .interview-content .content-details .title {
    margin-top: 0px; }
    .interview .interview-content .content-details .title span {
      font-size: 1.2rem; }
  .interview .interview-content .content-details .content {
    font-size: 1.4rem; }
  .interview .interview-content .content-img {
    width: 100%; }
    .interview .interview-content .content-img .slick-arrow {
      width: 30px !important;
      height: 30px !important; }
    .interview .interview-content .content-img .slick-next {
      right: 0px !important;
      top: -15px !important; }
    .interview .interview-content .content-img .slick-prev {
      top: -15px !important;
      right: 33px !important; }
    .interview .interview-content .content-img .number {
      font-size: 1.2rem; }
  .interview .button__more {
    padding-bottom: 30px; }
    .interview .button__more a {
      margin: 5px 0;
      width: 100%; }
      .interview .button__more a .button span {
        font-size: 1.4rem; }

  .catalog .catalog-content .catalog-item {
    width: 100%; }
    .catalog .catalog-content .catalog-item .choose span {
      font-size: 1.4rem; }

  .blog .title span {
    font-size: 1.2rem; }
  .blog .blog-content .content-block {
    margin-bottom: 20px;
    width: 100%; }
    .blog .blog-content .content-block .text h3 {
      font-size: 1.4rem; }

  .recruit {
    padding: 20px 0; }
    .recruit .title span {
      font-size: 12px; }
    .recruit .recruit-content .recruit-block {
      width: 100%; }
      .recruit .recruit-content .recruit-block .item {
        padding: 8% 0; }
      .recruit .recruit-content .recruit-block:before {
        width: 50%;
        margin: auto;
        height: 2px; }

  .recruit-main .recruit-content {
    margin-bottom: -550px; }
    .recruit-main .recruit-content .recruit-block {
      width: 60%;
      margin: 10px auto; }
      .recruit-main .recruit-content .recruit-block .item {
        padding: 20px 0; }
        .recruit-main .recruit-content .recruit-block .item img {
          width: 50px; }
        .recruit-main .recruit-content .recruit-block .item h3 {
          margin-top: 3%;
          font-size: 1.4rem; }
      .recruit-main .recruit-content .recruit-block:before {
        width: 100%; }

  .entry-bottom {
    margin-top: 0;
    min-height: 200px;
    padding: 40px 0; }
    .entry-bottom .button {
      margin-top: 520px;
      width: 200px;
      padding: 5px 0;
      height: unset; }

  .footer {
    padding: 20px; }
    .footer .footer-content .left,
    .footer .footer-content .right {
      width: 100%;
      margin-top: 10px;
      text-align: left; }
    .footer .footer-content .left {
      margin-top: 0px; }
      .footer .footer-content .left .item {
        margin-bottom: 10px;
        width: 100%; } }
@media screen and (max-width: 320px) {
  .story .text .story-link .icon,
  .workstyle .text .story-link .icon {
    display: none; }

  .years .years-content .title p {
    margin-top: 1%; } }

/*# sourceMappingURL=index.css.map */
